* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#izrv5h {
    background-color: #222222;
}

.copyright {
    border: 0 solid black;
    color: #000000;
}

.copyright.text {
    color: #ffffff;
}